<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration
        xmlns:log4j="http://jakarta.apache.org/log4j/"
        debug="false">

    <appender
            name="terminal"
            class="org.apache.log4j.ConsoleAppender">
        <param
                name="Threshold"
                value="DEBUG"/>
        <param
                name="Target"
                value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param
                    name="ConversionPattern"
                    value="%d{ABSOLUTE} %-5p [%t] [%c{6}] [%F.%M (%L)] %m%n"/>
        </layout>
    </appender>

    <appender
            name="file"
            class="org.apache.log4j.RollingFileAppender">
        <param
                name="Threshold"
                value="DEBUG"/>
        <param
                name="file"
                value="StormTweetsURLShortening.log"/>
        <param
                name="MaxFileSize"
                value="500MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param
                    name="ConversionPattern"
                    value="%d{ABSOLUTE} %-5p [%t] [%c{6}] [%F.%M (%L)] %m%n"/>
        </layout>
    </appender>

    <logger name="twitter4j">
        <level value="ERROR"/>
    </logger>
    <logger name="backtype">
        <level value="ERROR"/>
    </logger>
    <logger name="urlshorten">
        <level value="INFO"/>
    </logger>
    <root>
        <level value="WARN"/>
        <appender-ref ref="terminal"/>
        <appender-ref ref="file"/>
    </root>

</log4j:configuration>
